.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

  @media (min-width: @tablet-width) {
    padding-top: 50px;
    margin-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 58px;
  }
}

.advantages__features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #f2f2f2 url("../img/bg-triangle-white.svg") no-repeat center top;
  background-size: 100%;
  padding-top: 76px;


  @media (min-width: @tablet-width) {
    position: relative;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}

.advantages__header {
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    max-width: 90%;
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 92px;
  }
}

.advantages__slogan {
  color: #283645;
  font-family: @open-sans;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 58px;
    }
}

.advantages__tagline {
  color: #283645;
  font-family: @open-sans;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
    width: 70%;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 58px;
    }
}

.advantages__list {
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 330px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin-top: -10px;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  &--special {
    position: relative;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 75%;
  }
}

.advantages__item--special p {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
  }
}

.advantages__item--special picture {
  width: 157px;
  height: 277px;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    display: block;
    width: 268px;
    height: 480px;
    position: absolute;
    bottom: 0px;
    left: -310px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    width: 300px;
    height: auto;
    order: 1;
    position: unset;
    margin-bottom: 55px;
  }
}

.advantages__title {
  width: 100%;
  color: #283645;
  font-family: @open-sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    width: 75%;
    text-align: center;
    order: 2;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 23px;
  }
}

.advantages__description {
  width: 92%;
  color: #283645;
  font-family: @open-sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    width: 75%;
    text-align: center;
    order: 2;
    font-size: 18px;
    line-height: 30px;
  }
}

.advantages__image--desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    margin-bottom: 55px;
  }
}
