.contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 45px;
}

.contacts__title {
  width: 222px;
  text-align: center;
  color: #283645;
  font-family: @open-sans;
  font-size: 24px;
  font-weight: 300;
}

.contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__text {
  color: #283645;
  font-family: @open-sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.contacts__link {
  display: inline-block;
  vertical-align: middle;
  color: #d22856;
  font-family: @open-sans;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  text-align: center;
}

.contacts__address {
  width: 211px;
}
