.downloads {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  background-color: #1d2631;
  color: #ffffff;
}

.downloads__slogan {
  display: none;
  color: #ffffff;
  font-family: @open-sans;
}

.downloads__legend {
  width: 230px;
  color: #ffffff;
  font-family: @open-sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.downloads__button {
  margin-top: 424px;
  margin-bottom: 32px;
  padding-left: 40px;
  padding-right: 39px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-color: #ffffff;
}
