.icons-list {
  display: flex;
  flex-wrap: wrap;
  min-width: inherit;
  .list-reset();
  margin-bottom: 3%;
  margin-left: 100px;
}

.icons-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-list__item:not(:last-child) {
  margin-bottom: 3%;
  margin-right: 12%;
}
