.contest__heading {
  display: flex;
  width: 100%;
  min-height: 241px;
  padding-top: 53px;
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat center top;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background: #1d2631 url("../img/bg-back-mobile@2x.jpg") no-repeat center top;
  }

  @media (min-width: @tablet-width) {
    min-height: 440px;
    background: #1d2631 url("../img/bg-back-tablet@1x.jpg") no-repeat center top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: #1d2631 url("../img/bg-back-tablet@2x.jpg") no-repeat center top;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 395px;
    background: #1d2631 url("../img/bg-back-desktop@1x.jpg") no-repeat center top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: #1d2631 url("../img/bg-back-desktop@2x.jpg") no-repeat center top;
    }
  }
}

.contest__heading-content {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  max-width: 73%;
  margin: 0 auto;
  margin-top: 48px;
  color: #ffffff;
  font-family: @open-sans;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;

  @media (min-width: @tablet-width) {
    max-width: 80%;
    margin-top: 131px;
    font-size: 50px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 120px;
    max-width: 750px;
  }
}

.contest__subtitle,
.contest__text {
  display: flex;
  justify-content: center;
  width: 100%;

  @media (min-width: @tablet-width) {
    margin-bottom: 17px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 15px;
  }
}

.contest__subtitle-content,
.contest__text-content {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  max-width: 90%;
  margin: 0;
  margin-top: 45px;
  color: #283645;
  font-family: @open-sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    max-width: 85%;
    margin-top: 90px;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    max-width: 768px;
    margin-top: 92px;
  }
}

.contest__text-content {
  padding-top: 20px;
  padding-bottom: 70px;
}

.contest__subtitle-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
    margin-bottom: 10%;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 7%;
  }
}
