.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.form__section {
  border: none;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    border: 2px solid #e5e5e5;
  }
}

.form__section--name {
  width: 93%;
  padding: 40px 20px;
  order: 1;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: none;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    width: 50%;
    min-height: 300px;
    margin-bottom: 0;
    padding-right: 50px;
    padding-top: 15px;
  }
}

.form__section--checkbox {
  order: 2;
  width: 100%;
  padding: 45px 20px;
  padding-top: 120px;
  background-color: #f2f2f2;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 93%;
    margin-bottom: 60px;
    padding: 47px 20px 53px 53px;
    background-color: #ffffff;
    order: 4;
  }

  @media (min-width: @desktop-width) {
    width: 98%;
    margin-bottom: 55px;
    padding-left: 55px;
    padding-bottom: 10px;
    padding-top: 48px;
  }
}

.form__section--contacts {
  width: 93%;
  padding: 40px 10px;
  order: 3;

  @media (min-width: @tablet-width) {
    margin-bottom: 56px;
    padding: 35px 55px;
    padding-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 98%;
    margin-bottom: 58px;
    padding: 33px 55px 15px;
  }
}

.form__section--radio {
  order: 4;
  width: 100%;
  padding: 45px 20px;
  padding-top: 115px;
  position: relative;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    width: 93%;
    padding: 45px 22px 60px 53px;
    margin-bottom: 57px;
    background-color: #ffffff;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    min-height: 310px;
    width: 45%;
    padding-top: 50px;
    margin-bottom: 57px;
  }
}

.form__section--textarea {
  position: relative;
  order: 5;
  padding: 40px 20px;
  padding-top: 75px;

  @media (min-width: @tablet-width) {
    width: 93%;
    padding: 35px 55px 40px 55px;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    width: 98%;
    padding-top: 36px;
    padding-bottom: 18px;
  }
}

.form__section--submit {
  order: 6;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    border: none;
    width: 93%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: @desktop-width) {
    width: 98%;
    align-items: baseline;
  }
}

.form__legend {
  display: inline-block;
  text-align: center;
  width: 80%;
  color: #d22856;
  font-family: @open-sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding: 0 5%;
    width: auto;
  }
}

.form__legend--checkbox,
.form__legend--radio,
.form__legend--textarea {
  position: absolute;
  top: 40px;
  left: 30px;

  @media (min-width: @tablet-width) {
    position: unset;
  }
}

.form__legend--radio {
  @media (min-width: @desktop-width) {
    width: 100%;
    padding: 0 10px;
  }
}

.form__legend--contacts {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.form__list {
  .list-reset();
}

.form__list--name {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    justify-content: space-between;
  }
}

.form__list--radio {
  @media (min-width: @desktop-width) {
    margin-left: 17px;
  }
}

.form__list--checkbox {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__list--contacts {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__item--name {
  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    align-items: center;
  }
}

.form__item--name:not(:last-of-type) {
  margin-bottom: 8%;
}

.form__item-radio,
.form__item-checkbox {
  display: flex;
  flex-direction: row;
}

.form__item-radio:not(:last-of-type) {
  margin-bottom: 45px;
}

.form__item-checkbox:not(:last-of-type) {
  margin-bottom: 52px;
}

.form__item-checkbox {
  @media (min-width: @desktop-width) {
    width: 31%;

    &:nth-of-type(1) {
      order: 1;
    }

    &:nth-of-type(2) {
      order: 4;
    }

    &:nth-of-type(3) {
      order: 2;
    }

    &:nth-of-type(4) {
      order: 5;
    }

    &:nth-of-type(5) {
      order: 3;
    }

    &:nth-of-type(6) {
      order: 6;
    }
  }
}

.form__item--contacts {
  @media (min-width: @desktop-width) {
    width: 45%;
    margin-bottom: 0;
  }
}

.form__item--contacts:first-of-type {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form__item--contacts:nth-child(2n+1) {
  @media (min-width: @desktop-width) {
    margin-right: 74px;
  }
}

.form__item--contacts input {
  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.form__item--contacts label {
  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.form__label {
  margin-left: 20px;
  margin-bottom: 10px;
  color: #d22856;
  font-family: @open-sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    margin-right: 14px;
    margin-top: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.form__label--phone,
.form__label--email {
  @media (min-width: @tablet-width) {
    margin-right: 0;
    position: relative;
    margin-left: 20px;
    margin-top: 17px;
  }

  @media (min-width: @desktop-width) {
    min-width: 371px;
    margin-right: 74px;
    margin-bottom: 0;
  }
}

.form__label--phone::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    right: 0;
    bottom: 38px;
    background: #e5e5e5 url("../img/icon-phone.svg") no-repeat center center;
  }

  @media (min-width: @desktop-width) {
    right: 20px;
  }
}

.form__label--email::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    right: 0;
    bottom: 38px;
    background: #e5e5e5 url("../img/icon-mail.svg") no-repeat center center;
  }

  @media (min-width: @desktop-width) {
    right: 20px;
  }
}

.form__label-radio,
.form__label-checkbox {
  position: relative;
  color: #283645;
  font-family: @open-sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-left: 70px;

  @media (min-width: @tablet-width) {
    margin-left: 62px;
  }
}

.form__label-radio:not(:last-of-type) {
  margin-bottom: 57px;
}

.form__input {
  min-height: 59px;
  padding: 22px;
  border: 2px solid #e5e5e5;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  &:hover,
  &:focus {
    border-color: #283645;
    outline: none;
  }

  &:active {
    border-color: #d22856;
  }
}

.form__input--phone,
.form__input--email {
  width: 100%;
}

input::-webkit-input-placeholder {
  color: #283645;
  font-family: @open-sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

input::-moz-placeholder {
  color: #283645;
  font-family: @open-sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.form__input-radio + label::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  left: -70px;
  top: -5px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    left: -60px;
    top: -3px;
  }
}

.form__input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: -58px;
  top: 7px;
  background-color: #d22856;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    left: -47px;
    top: 10px;
  }
}

.form__input-radio:hover + label::before,
.form__input-radio:focus + label::before {
  border-color: #283645;
  outline: none;
}

.form__input-radio:active + label::before {
  border-color: #d22856;
}

.form__input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  left: -70px;
  top: -8px;

  @media (min-width: @tablet-width) {
    left: -60px;
    top: -2px;
  }
}

.form__input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: -62px;
  top: 0;
  background: url("../img/icon-yes.svg") no-repeat center center;

  @media (min-width: @tablet-width) {
    left: -53px;
    top: 5px;
  }
}

.form__input-checkbox:hover + label::before,
.form__input-checkbox:focus + label::before {
  border-color: #283645;
  outline: none;
}

.form__input-checkbox:active + label::before {
  border-color: #d22856;
}

.form__textarea {
  width: 100%;
  min-height: 200px;
  border: 2px solid #e5e5e5;
  padding: 12px 20px;

  @media (min-width: @desktop-width) {
    min-height: 124px;
  }
}

textarea::-webkit-input-placeholder {
  color: #283645;
  font-family: @open-sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

textarea::-moz-placeholder {
  color: #283645;
  font-family: @open-sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.form__button {
  display: inline-block;
  width: 276px;
  height: 63px;
  margin-bottom: 32px;
  color: #ffffff;
  font-family: @open-sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #2aab6d;
  border-radius: 3px;
  background-color: #2aab6d;

  &:hover,
  &:focus {
    background-color: #1c9b5e;
    border: 2px solid #1c9b5e;
    outline: none;
  }

  &:active {
    color: #60b98e;
  }

  &:disabled {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
  }

  @media (min-width: @tablet-width) {
    width: 296px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    margin-bottom: 0;
  }
}

.form__note {
  color: #283645;
  font-family: @open-sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.form__note sup {
  color: #d22856;
}

.form__note--hidden {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}
