.add-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 57px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.add-photo__button {
  width: 280px;
  height: 55px;
  border: 3px solid #d22856;
  color: #d22856;
  cursor: pointer;
}

.add-photo__button--post {
  margin-top: 35px;
  margin-bottom: 12px;

  &:hover,
  &:focus {
    background-color: #d22856;
    color: #ffffff;
  }

  &:active {
    color: #dc597d;
    background-color: #d22856;
  }
}

.add-photo__button--cancel {
  color: #283645;
  border: 3px solid #283645;
  opacity: 0.1;
  margin-bottom: 40px;

  &:hover,
  &:focus {
    opacity: 0.3;
  }

  &:active {
    background-color: #283645;
    color: #cbcfd1;
  }
}
