.gallery__heading {
  display: flex;
  align-items: center;
  width: 100%;
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat center top;
  background-size: cover;
  min-height: 170px;

  @media (min-width: @tablet-width) {
    min-height: 440px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center top;
  }

  @media (min-width: @desktop-width) {
    min-height: 395px;
    margin-top: -110px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center top;
  }
}

.gallery__heading-content {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  color: #ffffff;
  font-family: @open-sans;
  font-size: 24px;
  font-weight: 300;

  @media (min-width: @tablet-width) {
    width: 348px;
    font-size: 50px;
  }
}

.gallery__subtitle {
  display: flex;
  justify-content: center;
  width: 100%;
}

.gallery__subtitle-content {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  padding-top: 54px;
  padding-bottom: 56px;
  color: #283645;
  font-family: @open-sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    max-width: 436px;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    max-width: 572px;
  }
}

.gallery__list {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.gallery__text {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #283645;
  font-family: @open-sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  width: 253px;
  margin: 0;
  margin-bottom: 70px;

  @media (min-width: @tablet-width) {
    width: 422px;
    font-size: 18px;
  }
}
