.gallery__heading {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 170px;
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat center top;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background: #1d2631 url("../img/bg-back-mobile@2x.jpg") no-repeat center top;
  }

  @media (min-width: @tablet-width) {
    min-height: 440px;
    background: #1d2631 url("../img/bg-back-tablet@1x.jpg") no-repeat center top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: #1d2631 url("../img/bg-back-tablet@2x.jpg") no-repeat center top;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 395px;
    margin-top: -110px;
    background: #1d2631 url("../img/bg-back-desktop@1x.jpg") no-repeat center top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: #1d2631 url("../img/bg-back-desktop@2x.jpg") no-repeat center top;
    }
  }
}

.gallery__heading-content {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  color: #ffffff;
  font-family: @open-sans;
  font-size: 24px;
  font-weight: 300;

  @media (min-width: @tablet-width) {
    width: 348px;
    font-size: 50px;
  }
}

.gallery__subtitle,
.gallery__text {
  display: flex;
  justify-content: center;
  width: 100%;
}

.gallery__subtitle-content,
.gallery__text-content {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  padding-top: 54px;
  padding-bottom: 56px;
  color: #283645;
  font-family: @open-sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    max-width: 436px;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    max-width: 572px;
  }
}

.gallery__text-content {
  padding-top: 20px;
  padding-bottom: 70px;
}

.gallery__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
  }
}
