.gallery__heading {
  display: flex;
  width: 100%;
  min-height: 241px;
  padding-top: 70px;
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat center top;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background: #1d2631 url("../img/bg-back-mobile@2x.jpg") no-repeat center top;
  }

  @media (min-width: @tablet-width) {
    min-height: 440px;
    padding-top: 110px;
    background: #1d2631 url("../img/bg-back-tablet@1x.jpg") no-repeat center top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: #1d2631 url("../img/bg-back-tablet@2x.jpg") no-repeat center top;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 395px;
    background: #1d2631 url("../img/bg-back-desktop@1x.jpg") no-repeat center top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: #1d2631 url("../img/bg-back-desktop@2x.jpg") no-repeat center top;
    }
  }
}

.gallery__heading-content {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 27px;
  color: #ffffff;
  font-family: @open-sans;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;

  @media (min-width: @tablet-width) {
    width: 348px;
    font-size: 50px;
    line-height: 58px;
    margin-top: 70px;
  }
}

.gallery__subtitle,
 .gallery__text {
  display: flex;
  justify-content: center;
  width: 100%;
}

.gallery__subtitle-content,
.gallery__text-content {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 77%;
  margin: 0;
  color: #283645;
  font-family: @open-sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    max-width: 572px;
  }
}

.gallery__subtitle-content {
  margin-top: 44px;
  margin-bottom: 48px;

  @media (min-width: @tablet-width) {
    margin-top: 91px;
    margin-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 88px;
  }
}

.gallery__text-content {
  margin-top: 20px;
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    margin-top: 44px;
    margin-bottom: 68px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 5px;
    margin-bottom: 65px;
  }
}

.gallery__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  .list-reset();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
  }
}
