.users-card {
  background-color: #f2f2f2;
}

.users-card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
}

.users-card__author {
  display: inline-block;
  text-align: left;
  font-family: @open-sans;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.users-card__name {
  font-size: 14px;
  text-transform: none;
  font-weight: 700;
}

.users-card__review {
  display: inline-block;
  text-align: left;
  color: #283645;
  font-family: @open-sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  quotes: none;
  margin-bottom: 10px;
}

.users-card__likes {
  display: flex;
  margin-bottom: 20px;
}

.users-card__icon {
  margin-top: 5px;
  margin-right: 10px;
}

.users-card__sign {
  margin: 0;
  color: #d22856;
  font-family: @open-sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
