.copyright {
  display: flex;
}

.copyright__text {
  margin: 0;
  margin-right: 15px;
  color: #283645;
  font-family: @open-sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-top: 20px;
  }
}

.copyright__icon {
  fill: #d22856;

  @media (min-width: @desktop-width) {
    margin-top: 10px;
  }
}

.copyright__link:hover .copyright__icon {
  fill: #283645;
}

.copyright__link:focus .copyright__icon {
  opacity: 0.3;
}
