.copyright {
  display: flex;
  justify-content: space-between;
}

.copyright__text {
  margin: 0;
  margin-right: 15px;
  color: #283645;
  font-family: @open-sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover path,
  &:focus path {
    fill: #283645;
  }

  &:focus path {
    opacity: 0.3;
  }
}
