.page-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: @mobile-width;
  justify-content: space-around;
  background-color: #283645;
}

.page-header__promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header__logo {
  margin-top: 22px;
  margin-left: 25px;
  margin-bottom: 25px;
}

.page-header__button {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 24px;
  border: none;
  margin-top: 21px;
  margin-right: 20px;
  margin-bottom: 21px;
}
