.page-footer {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.page-footer__logo {
  margin-bottom: 42px;
}
